# Folders

.git
.yarn/cache
.storybook
build
cache
locales/\*.json
node_modules
omelette

# Files

.env
_.log
.dockerignore
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.gitmodules
.prettierignore
bootstrap
cypress_.json
docker-compose.yml
Dockerfile
Jenkinsfile
start\_.sh
